@font-face {
   font-family: 'Open Sans', sans-serif; /* Гарнитура шрифта */
   }


body {
	background: #f1f2f4;
	background-image: url('../img/bg/hazeev.jpg');
  background-size: cover;

}

 h1.caption {
    font-family: 'Lobster', 'Comic Sans MS', cursive;
    text-align: center;
    /*color: #008807;*/
    font-weight: lighter;
    vertical-align: middle;
   }


nav.top {
display: block;
position: relative;
height: 100px;
}

ul.top-menu {
  font-family: "Open Sans";
  align: center;
  list-style: none; /*убираем маркеры списка*/
  margin: 1em;
  padding-left: 0; /*убираем левый отступ, равный 40px*/
  min-width: 500px;
  }

li.top-menu-item {

  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0px;
  background-color: #FFFFFF;
  border-radius: 50%;


}

li.top-menu-item .a {

  display: block;

}

li.top-menu-item:hover{

  background-color: #C2C2C2;
}

.top-menu li:hover .sub-menu {visibility: visible;}
.sub-menu li:hever .sub-menu {visibility: visible;}

li.top-menu-item-branch{

  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0px;
  background-color: #FFFFFF;
  border-radius: 4px;
  position: relative;

}

li.top-menu-item-branch:hover{

 background-color: #C2C2C2;

} 

span.link-down {

  content: "\f107";
  margin-left: 8px;
  font-family: "Open Sans";
}



}


}

}

div.noscript {
	margin-left: 25%;
	width : 50%;
	text-align: center;
	font-family: "Open Sans";
	font-size: 30px;
	background: #FFB0B0;
	color: #FF0000;
	border: 2px solid red;
	border-radius: 5px;
}
